@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Grotesk:wght@700&family=Special+Gothic+Expanded+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}

body{
    background-color: black;
    overflow: hidden;
}

#container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: #fff;
    z-index: 1;
}

#circle{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 50%;
    z-index: 0;
    filter: blur(50px);
    animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.05);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

#heading{
    font-size: 80px;
}

#heading2{
    color: #d2042d;
}

#controls {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%) translateX(200px);
    opacity: 0;
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
    to {
        transform: translateY(-50%) translateX(0);
        opacity: 1;
    }
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

button{
    background: #aa0324;
    box-shadow: 0 0px 35px rgba(255, 255, 255, 0.177);
    padding: 25px;
    width: 120px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

button:hover {
    background: #d2042d95;
    cursor: pointer;
}

button a {
    color: #fff !important;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    background: none;
}

#display{
    font-size: 50px;
    font-style: italic;
}

#records {
    margin-top: 20px;
    width: 35%;
    height: 200px;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

#records p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    font-size: 20px;
    padding: 5px;
}

#records .lap-time {
    text-align: center;
    flex-grow: 1;
}

#records::-webkit-scrollbar {
    width: 0px;
}
